{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "node": true,
    "browser": false
  },

  "extends": "eslint:recommended",
  "rules": {
    "no-extra-parens": ["error", "all", {
      "nestedBinaryExpressions": false,
      "ignoreJSX": "all"
    }],
    "valid-jsdoc": ["error", {
      "prefer": {
        "arg": "param",
        "argument": "param",
        "return": "returns"
      },
      "preferType": {
        "Boolean": "boolean",
        "Number": "number",
        "object": "Object",
        "String": "string"
      },
      "requireReturn": true,
      "requireReturnType": true,
      "requireReturnDescription": true,
      "requireParamDescription": true
    }],
    "class-methods-use-this": "error",
    "curly": ["error", "multi-or-nest", "consistent"],
    "dot-location": ["error", "property"],
    "eqeqeq": ["error", "smart"],
    "comma-dangle": ["error", "never"],
    "no-console": "off",
    "no-unused-vars": ["error", {
      "argsIgnorePattern": "^reject$" // Promises.
    }]
  }
}
