{
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "node": false,
    "browser": true
  },
  "globals": {
    "module": false,
    "require": false
  },

  "plugins": [
    "react"
  ],
  "extends": [
    "../.eslintrc",
    "plugin:react/recommended"
  ],

  "rules": {
    "class-methods-use-this": "off",
    "react/display-name": "off"
  }
}
